{
	"images": ["{{name}}.png"],
	"frames": [
		{{#files}}
	        [{{x}}, {{y}}, {{width}}, {{height}}]{{^isLast}},{{/isLast}}
	    {{/files}}
	],
	"animations": {
		{{#animations}}
	            "{{name}}":[{{frames}}]{{^isLast}},{{/isLast}}
	    {{/animations}}
	}
}
